In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
train_data = pd.read_csv(r"TrainingData.csv" , encoding='ISO-8859-1')
test_data = pd.read_csv(r"TestData.csv" , encoding='ISO-8859-1')

In [3]:
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [4]:
train_data.shape

(252000, 13)

In [5]:
test_data.head()

,id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years
0,1,7393090,59,19,single,rented,no,Geologist,Malda,West Bengal,4,13
1,2,1215004,25,5,single,rented,no,Firefighter,Jalna,Maharashtra,5,10
2,3,8901342,50,12,single,rented,no,Lawyer,Thane,Maharashtra,9,14
3,4,1944421,49,9,married,rented,yes,Analyst,Latur,Maharashtra,3,12
4,5,13429,25,18,single,rented,yes,Comedian,Berhampore,West Bengal,13,11

In [6]:
test_data.shape

(28000, 12)

In [7]:
train_data.describe()

,Id,income,age,experience,current_job_years,current_house_years,risk_flag
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,72746.278255,2.878311e+06,17.063863,6.002590,3.647053,1.399037,0.328438
min,1.000000,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

In [8]:
df_length =len(train_data)

In [9]:
test_col = len(test_data.columns)

In [10]:
train_data.isnull().any()

Id                     False
income                 False
age                    False
experience             False
married                False
house_ownership        False
car_ownership          False
profession             False
city                   False
state                  False
current_job_years      False
current_house_years    False
risk_flag              False
dtype: bool

In [11]:
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["income"]=pd.factorize(train_data.income)[0]
train_data["age"]=pd.factorize(train_data.age)[0]
train_data["married"]=pd.factorize(train_data.married)[0]
train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]

In [12]:
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["income"]=pd.factorize(test_data.income)[0]
test_data["age"]=pd.factorize(test_data.age)[0]
test_data["married"]=pd.factorize(test_data.married)[0]
test_data["house_ownership"]=pd.factorize(test_data.house_ownership)[0]
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]

In [13]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [30]:
xtrain=train_data.drop("risk_flag",axis=1)
xtrain=xtrain.drop("city",axis=1)
xtrain=xtrain.drop("state",axis=1)
xtrain=xtrain.drop("profession",axis=1)
ytrain=train_data["risk_flag"]

In [31]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [32]:
xtest=test_data.drop("city",axis=1)
xtest=xtest.drop("state",axis=1)
xtest=xtest.drop("profession",axis=1)

In [33]:
model.score(xtrain,ytrain)

1.0

In [34]:
predicted = model.predict(xtest)

In [35]:
predicted

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
predicted=pd.DataFrame(predicted)

In [20]:
predicted.to_csv('gitrepo.csv', encoding='utf-8',float_format='%1.0f')

In [36]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [37]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [38]:
model.score(xtrain,ytrain)

0.9999801587301588

In [41]:
predicted = model.predict(xtrain)

In [42]:
predicted

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
predicted=pd.DataFrame(predicted)

In [45]:
predicted.to_csv('gitorepo.csv')